<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Criar mensagem</title>
    </head>
    <body>
        <form method="post" action="/messages">
            <h1>Criar mensagem</h1>
            <div>
                <label for="from">De</label>
                <input type="text" name="from" />
            </div>
            <div>
                <label for="content">Mensagem</label>
                <input type="text" name="content" />
            </div>
            <button type="submit">Enviar</button>
        </form>
    </body>
</html>
